In [213]:
from bs4 import *

In [234]:
import requests
data = requests.get("https://www.basketball-reference.com/")

In [235]:
soup = BeautifulSoup(data.text,"html.parser")

In [236]:
data = soup.find_all("th",scope="row")

In [237]:
import pandas as pd

In [238]:
import numpy as np

In [239]:
name = []

In [240]:
for i in data:
    i=i.text
    i=i.split('\xa0')
    i=''.join(i)
    name.append(i)

In [241]:
name

['PHI*(1)',
 'BRK*(2)',
 'MIL*(3)',
 'NYK*(4)',
 'ATL*(5)',
 'MIA*(6)',
 'BOS*(7)',
 'WAS*(8)',
 'INDx(9)',
 'CHOx(10)',
 'CHIx(11)',
 'TORx(12)',
 'CLEx(13)',
 'ORLx(14)',
 'DETx(15)',
 'UTA*(1)',
 'PHO*(2)',
 'DEN*(3)',
 'LAC*(4)',
 'DAL*(5)',
 'POR*(6)',
 'LAL*(7)',
 'MEM*(8)',
 'GSWx(9)',
 'SASx(10)',
 'NOPx(11)',
 'SACx(12)',
 'MINx(13)',
 'OKCx(14)',
 'HOUx(15)',
 '1',
 '2',
 '3',
 '3',
 '5',
 '5',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 'Real Madrid',
 'FC Barcelona Lassa',
 'Iberostar Tenerife',
 'Valencia Basket',
 'Baskonia',
 'San Pablo Burgos',
 'Divina Seguros Joventut',
 'Herbalife Gran Canaria',
 'Manresa',
 'MoraBanc Andorra',
 'Unicaja',
 'UCAM Murcia',
 'Tecnyconta Zaragoza',
 'Montakit Fuenlabrada',
 'Rio Natura Monbus Obradoiro',
 'Coosur Real Betis',
 'RETAbet Bilbao Basket',
 'Movistar Estudiantes',
 'Acunsa GBC',
 'ASVEL',
 'Dijon',
 'Monaco',
 'Strasbourg',
 'JL Bourg',
 'Paris Levallois',
 'Orleans Loiret',
 'Le Mans',
 'Nanterre',
 'Limoges',
 'Elan Bearnais',
 'Châlons-Reims',
 'Le Portel',
 'Cholet',
 'BCM Gravelines',
 'Roanne',
 'Elan Chalon',
 'Boulazac',
 'EA7 Emporio Armani Milano',
 'Enel Brindisi',
 'Virtus Bologna',
 'Umana Reyer Venezia',
 'Banco di Sardegna Sassari',
 'Alma Pallacanestro Trieste',
 'Universo Treviso',
 'Dolomiti Energia Trentino',
 'Vanoli Cremona',
 'Germani Basket Brescia',
 'Fortitudo Bologna',
 'Grissin Bon Reggio Emilia',
 'Consultinvest Pesaro',
 'Openjobmetis Varese',
 'Red October Cantu',
 'Panathinaikos',
 'Lavrio B.C.',
 'Promitheas Patras',
 'AEK Athens',
 'P.A.O.K.',
 'Peristeri',
 'Ionikos Nikaias',
 'Kolossos Rodou',
 'Aris',
 'Iraklis B.C.',
 'Larisa',
 'Messolonghi',
 'Crvena zvezda mts',
 'Budućnost VOLI',
 'KK Igokea',
 'KK Mornar',
 'Cedevita Olimpija',
 'Mega Basket',
 'Partizan NIS',
 'KK FMP',
 'Cibona Zagreb',
 'KK Zadar',
 'KK Krka',
 'KK Split',
 'Borac Čačak',
 'Koper Primorska',
 'Anadolu Efes',
 'Fenerbahçe',
 'Pinar Karsiyaka',
 'Beşiktaş',
 'Tofaş',
 'Türk Telekom',
 'Darüşşafaka',
 'Gaziantep',
 'Bursaspor',
 'Afyon',
 'Galatasaray',
 'Bahçeşehir',
 'Socar Spor',
 'Büyükçekmece',
 'Fethiye',
 'Ormanspor',
 'Zenit Saint Petersburg',
 'UNICS',
 'Lokomotiv Kuban',
 'CSKA Moscow',
 'Nizhny Novgorod',
 'Zielona Góra',
 'BC Khimki',
 'Parma',
 'Avtodor',
 'Kalev/Cramo',
 'Enisey',
 'Astana',
 'Tsmoki Minsk',
 'Anadolu Efes',
 'AX Armani Exchange Olimpia',
 'FC Barcelona',
 'CSKA Moscow',
 'Monaco',
 'UNICS',
 'Virtus Bologna',
 'Herbalife Gran Canaria',
 'Guangdong Southern Tigers',
 'Liaoning Flying Leopards',
 'Zhejiang Golden Bulls',
 'Xinjiang Flying Tigers',
 'Shandong Heroes',
 'Qingdao Eagles',
 'Zhejiang Lions',
 'Shenzhen Aviators',
 'Beijing Ducks',
 'Jilin Northeast Tigers',
 'Sichuan Blue Whales',
 'Guangzhou Loong-Lions',
 'Beijing Royal Fighters',
 'Shanghai Sharks',
 'Shanxi Loongs',
 'Fujian Sturgeons',
 'Tianjin Pioneers',
 'Nanjing Monkey Kings',
 'Jiangsu Dragons',
 'Melbourne',
 'Perth',
 'The Hawks',
 'Sydney',
 'Phoenix',
 'Brisbane',
 'Adelaide',
 'New Zealand',
 'Cairns',
 'United States',
 'Serbia',
 'Spain',
 'Australia',
 'Croatia',
 'France',
 'Lithuania',
 'Argentina',
 'Brazil',
 'Venezuela',
 'Nigeria',
 'China',
 'Spain',
 'France',
 'Argentina',
 'Australia',
 'Serbia',
 'United States',
 'Poland',
 'Czech Republic']

In [242]:
name = name[:197]
len(name)

197

In [243]:
franchise = []
data_s = soup.find_all("td")
for i in range(0,len(data_s)+1,4):
    i = data_s[i].text
    franchise.append(i)

In [244]:
franchise

['F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'Los Angeles Clippers',
 '120',
 '33',
 '21',
 'Atlanta Hawks',
 '96',
 '23',
 '28',
 '',
 '11',
 '4',
 '27',
 '\nDeandre Ayton\n(PHO)\n',
 '\n18.1\n',
 '3',
 '\xa0ESPN',
 '\xa0TNT',
 '\xa0ESPN',
 '\xa0TNT',
 '\xa0ESPN',
 '\xa0TNT',
 '\xa0ESPN',
 '\xa0TNT',
 '\xa0ESPN',
 '\xa0TNT',
 '\xa0ESPN',
 '\xa0TNT',
 '\xa0TNT',
 '2',
 '10',
 'Dallas Wings',
 '5.5',
 '.462',
 '7',
 '5',
 'Connecticut Sun',
 '—',
 '.538',
 '7',
 '6',
 'Atlanta Dream',
 '2.5',
 '.067',
 '\n\nLos Angeles Sparks\n\n',
 '\nChicago Sky\n',
 '\n      @\n    ',
 '.944',
 '27',
 '12',
 '.639',
 '20',
 '18',
 '.472',
 '17',
 '20',
 '.389',
 '12',
 '25',
 '.278',
 '7',
 '7',
 '.800',
 '25',
 '13',
 '.571',
 '19',
 '17',
 '.500',
 '13',
 '21',
 '.353',
 '11',
 '24',
 '.118',
 '20',
 '9',
 '.679',
 '14',
 '14',
 '.464',
 '11',
 '18',
 '.357',
 '10',
 '19',
 '.909',
 '16',
 '8',
 '.591',
 '8',
 '14',
 '.318',
 '6',
 '17',
 '.885',
 '19',
 '7',
 '.692',
 '13',
 '15',
 '.385',
 '8',
 '18',
 '.308',
 '29',
 '8',
 '.700',
 '19',
 '13',
 '.533',
 '13',
 '18',
 '.367',
 '10',
 '20',
 '.300',
 '20',
 '6',
 '.739',
 '14',
 '11',
 '.500',
 '10',
 '14',
 '.250',
 '3',
 '0',
 '.500',
 '0',
 '0',
 '.400',
 '0',
 '6',
 '.833',
 '34',
 '21',
 '.593',
 '29',
 '24',
 '.519',
 '25',
 '29',
 '.423',
 '13',
 '43',
 '.167',
 '32',
 '14',
 '.538',
 '20',
 '18',
 '.361',
 '8',
 '0',
 '.500',
 '5',
 '3',
 '.500',
 '3',
 '3',
 '.200',
 '0',
 '0',
 '.667',
 '1',
 '1',
 '.000',
 '0']

In [247]:
franchise = franchise[:197]
len(franchise)

197

In [248]:
payroll = []
data_s = soup.find_all("td")
for i in range(1,len(data_s)+1,4):
    i = data_s[i].text
    payroll.append(i)
payroll

['$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '$',
 '114',
 '\xa0\n\t\t\t',
 '39',
 '36',
 '103',
 '\xa0\n\t\t\t',
 '28',
 '18',
 '\nDevin Booker\n(PHO)\n',
 '\n34.5\n',
 '5',
 '7',
 '20',
 '\nJoel Embiid\n(PHI)\n',
 '\n17.8\n',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '\xa0',
 '.857',
 '3',
 '6',
 'Phoenix Mercury',
 '5.5',
 '.417',
 '7',
 '8',
 'New York Liberty',
 '1.0',
 '.500',
 '6',
 '5',
 'Indiana Fever',
 '8.0',
 '\nDallas Wings\n',
 '\n      @\n    ',
 '\nSeattle Storm\n',
 '32',
 '9',
 '.667',
 '22',
 '16',
 '.500',
 '17',
 '19',
 '.444',
 '12',
 '24',
 '.306',
 '9',
 '29',
 '.800',
 '25',
 '10',
 '.629',
 '19',
 '16',
 '.500',
 '16',
 '21',
 '.382',
 '11',
 '23',
 '.294',
 '22',
 '8',
 '.679',
 '18',
 '14',
 '.500',
 '11',
 '17',
 '.357',
 '10',
 '18',
 '.321',
 '17',
 '6',
 '.636',
 '11',
 '14',
 '.364',
 '7',
 '16',
 '.227',
 '22',
 '7',
 '.731',
 '14',
 '13',
 '.423',
 '9',
 '18',
 '.308',
 '0',
 '1',
 '.733',
 '19',
 '11',
 '.567',
 '15',
 '17',
 '.400',
 '10',
 '20',
 '.333',
 '7',
 '4',
 '.750',
 '17',
 '10',
 '.542',
 '10',
 '14',
 '.391',
 '6',
 '21',
 '1.000',
 '1',
 '2',
 '1.000',
 '1',
 '2',
 '.885',
 '41',
 '20',
 '.611',
 '30',
 '23',
 '.547',
 '26',
 '29',
 '.463',
 '19',
 '39',
 '.204',
 '8',
 '9',
 '.659',
 '19',
 '19',
 '.500',
 '12',
 '28',
 '1.000',
 '5',
 '3',
 '.500',
 '3',
 '3',
 '.400',
 '1',
 '5',
 '1.000',
 '2',
 '2',
 '.000',
 '0',
 '1']

In [249]:
payroll = payroll[:197]
len(payroll)

197

In [250]:
wins = []
data_s = soup.find_all("td")
for i in range(2,len(data_s)+1,4):
    i = data_s[i].text
    wins.append(i)
wins

['49',
 '48',
 '46',
 '41',
 '41',
 '40',
 '36',
 '34',
 '34',
 '33',
 '31',
 '27',
 '22',
 '21',
 '20',
 '52',
 '51',
 '47',
 '47',
 '42',
 '42',
 '42',
 '38',
 '39',
 '33',
 '31',
 '31',
 '23',
 '22',
 '17',
 '\nFinal\n',
 'LAC\xa0(0-1)',
 '21',
 '36',
 '\nFinal\n',
 'ATL\xa0(4-3)',
 '27',
 '25',
 '40',
 '\nPaul George\n(LAC)\n',
 '\n26.2\n',
 '3',
 '9',
 '31',
 'G2 - LA Clippers @ Phoenix',
 'G1 - Atlanta @ Milwaukee',
 'G3 - Phoenix @ LA Clippers',
 'G2 - Atlanta @ Milwaukee',
 'G4 - Phoenix @ LA Clippers',
 'G3 - Milwaukee @ Atlanta',
 'G5 - LA Clippers @ Phoenix',
 'G4 - Milwaukee @ Atlanta',
 'G6 - Phoenix @ LA Clippers',
 'G5 - Atlanta @ Milwaukee',
 'G7 - LA Clippers @ Phoenix',
 'G6 - Milwaukee @ Atlanta',
 'G7 - Atlanta @ Milwaukee',
 'Seattle Storm',
 '—',
 '.769',
 '7',
 '6',
 'Los Angeles Sparks',
 '6.0',
 '.417',
 '5',
 '7',
 'Chicago Sky',
 '1.5',
 '.500',
 '7',
 '1',
 '\n\n\nNew York Liberty\n\n\n',
 '\n      @\n    ',
 '\nNew York Liberty\n',
 '34',
 '4',
 '.750',
 '23',
 '14',
 '.556',
 '17',
 '19',
 '.472',
 '14',
 '24',
 '.333',
 '10',
 '27',
 '.194',
 '28',
 '10',
 '.714',
 '20',
 '16',
 '.543',
 '17',
 '18',
 '.382',
 '12',
 '23',
 '.324',
 '4',
 '6',
 '.714',
 '19',
 '10',
 '.500',
 '13',
 '17',
 '.393',
 '10',
 '18',
 '.357',
 '20',
 '5',
 '.727',
 '13',
 '11',
 '.364',
 '7',
 '15',
 '.273',
 '23',
 '4',
 '.731',
 '18',
 '12',
 '.500',
 '10',
 '17',
 '.308',
 '8',
 '26',
 '.967',
 '21',
 '11',
 '.633',
 '16',
 '15',
 '.433',
 '11',
 '20',
 '.333',
 '9',
 '23',
 '.833',
 '17',
 '7',
 '.583',
 '12',
 '14',
 '.417',
 '6',
 '18',
 '.125',
 '1',
 '1',
 '.000',
 '2',
 '2',
 '.000',
 '45',
 '11',
 '.630',
 '32',
 '22',
 '.558',
 '28',
 '26',
 '.463',
 '22',
 '33',
 '.250',
 '9',
 '46',
 '.780',
 '21',
 '17',
 '.513',
 '13',
 '24',
 '.222',
 '4',
 '3',
 '.625',
 '3',
 '3',
 '.500',
 '1',
 '4',
 '.000',
 '2',
 '1',
 '.333',
 '0',
 '1',
 '.000']

In [251]:
wins = wins[:197]
len(wins)

197

In [252]:
losses = []
data_s = soup.find_all("td")
for i in range(3,len(data_s),4):
    i = data_s[i].text
    losses.append(i)
losses
len(losses)

197

In [254]:
east_standing = pd.DataFrame({'names':name,'franchise':franchise,'payroll':payroll,'wins':wins,'losses':losses})

In [255]:
east_standing

         names franchise payroll  wins losses
0      PHI*(1)         F       $    49     23
1      BRK*(2)         F       $    48     24
2      MIL*(3)         F       $    46     26
3      NYK*(4)         F       $    41     31
4      ATL*(5)         F       $    41     31
..         ...       ...     ...   ...    ...
192  Argentina         0   1.000     2      1
193     Brazil      .667       2     1   .667
194  Venezuela         1       2  .333      0
195    Nigeria         1    .000     0      1
196      China      .000       0     1   .000

[197 rows x 5 columns]

In [257]:
east_standing.head(25)

       names franchise payroll wins losses
0    PHI*(1)         F       $   49     23
1    BRK*(2)         F       $   48     24
2    MIL*(3)         F       $   46     26
3    NYK*(4)         F       $   41     31
4    ATL*(5)         F       $   41     31
5    MIA*(6)         F       $   40     32
6    BOS*(7)         F       $   36     36
7    WAS*(8)         F       $   34     38
8    INDx(9)         F       $   34     38
9   CHOx(10)         F       $   33     39
10  CHIx(11)         F       $   31     41
11  TORx(12)         F       $   27     45
12  CLEx(13)         F       $   22     50
13  ORLx(14)         F       $   21     51
14  DETx(15)         F       $   20     52
15   UTA*(1)         F       $   52     20
16   PHO*(2)         F       $   51     21
17   DEN*(3)         F       $   47     25
18   LAC*(4)         F       $   47     25
19   DAL*(5)         F       $   42     30
20   POR*(6)         F       $   42     30
21   LAL*(7)         F       $   42     30
22   MEM*(8)         F       $   38     34
23   GSWx(9)         F       $   39     33
24  SASx(10)         F       $   33     39